<launch>
    <node name="rrtplanner" pkg="sdp_ompl_ros" type="RRT_planner.py" required="false"/>
    <node name="estplanner" pkg="sdp_ompl_ros" type="EST_planner.py" required="false"/>
    <node name="kpiece1planner" pkg="sdp_ompl_ros" type="KPIECE1_planner.py" required="false"/>
    <node name="pdstplanner" pkg="sdp_ompl_ros" type="PDST_planner.py" required="false"/>
    <node name="client" pkg="sdp_ompl_ros" type="client.py" />
</launch>
